@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Montserrat", sans-serif;
  color: #232323;
  font-weight: 400;
  vertical-align: baseline;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
  background: #ffffff;
  color: #232323;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
}

blockquote,
q {
  quotes: none;
}

.icon-logo-bymycar:before {
  font-size: 32px;
  color: #ffffff;
}

button {
  font-family: inherit;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400 !important;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-black {
  font-weight: 900;
}

.header {
  background: #1f1f1f;
}

.header-logo {
  text-decoration: none;
}

.header-cta {
  text-decoration: none;
  border: 1px solid #ba9856;
  border-radius: 100px;
}

.header-cta:hover .header-cta-button {
  background: #e0b662;
}

.header-cta-button {
  color: #ffffff;
  background: #ba9856;
  font-size: 8px;
  border-radius: 100px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.header-cta-button span {
  border-radius: 100%;
  background: #ffffff;
  color: #ba9856;
  font-size: 11px;
}

.header-cta-number {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
}

.menu__link {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.menu__link:hover {
  background: #ffffff;
}

.menu__link:hover span {
  color: #232323;
}

.menu__link span {
  font-size: 14px;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}

.menu__link_user span {
  line-height: 1;
  font-size: 11px;
}

main h1 {
  font-size: 100px;
  font-weight: 700;
}

main .page-description {
  font-size: 14px;
}

.filter-more-toggle {
  background: #ba9856;
  color: #ffffff;
  font-size: 16px;
  border: none;
  border-radius: 100px;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.filter-more-toggle:hover {
  background: #e0b662;
}

.sort-by p {
  font-size: 10px;
  font-weight: 500;
  line-height: 1;
}

.sort-by select {
  border: none;
  font-family: inherit;
  border-radius: 100px;
  outline: 0;
  border: 1px solid #676767;
  transition: all 0.3s ease-in-out;
}

.product {
  border-top: 1px solid #c5c5c5;
  background: #f7f7f7;
}

.product-search-result {
  font-size: 12px;
  font-weight: 600;
}

.product-sidebar {
  background: #ffffff;
  border: 1px solid #676767;
  border-radius: 4px;
}

.product-item {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  text-decoration: none;
  color: #232323;
  transition: all 0.3s ease-in-out;
}

.product-item:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}

.product__badge.two-badges .badge:first-child {
  border-radius: 0 10px 10px 0;
}

.product__badge .badge {
  background: #4b4b4b;
  color: #ffffff;
  font-weight: 600;
  font-size: 11px;
  border-radius: 10px 0 0 10px;
}

.product__badge .badge-white {
  background: #ffffff;
  color: #232323;
}

.product__title {
  font-size: 14px;
  font-weight: 600;
}

.product__type {
  font-size: 14px;
}

.product__features_list {
  list-style: none;
}

.product__features_list li {
  font-size: 14px;
}

.product__features_list li span {
  font-weight: 700;
}

.product__features_list li:before {
  background: #ba9856;
  border-radius: 100%;
}

.product__features_icons {
  border-bottom: 1px solid #c3c3c3;
}

.product__features_icons i {
  font-size: 20px;
  color: #ba9856;
}

.product__features_icons .tooltip-text {
  background: #ba9856;
  color: #ffffff;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}

.product__features_icons .tooltip-text h5 {
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

.product__features_icons .tooltip:nth-child(9):before {
  color: #232323;
  font-size: 12px;
}

.product__characteristics {
  list-style: none;
  border-top: 1px solid #c3c3c3;
  border-bottom: 1px solid #c3c3c3;
}

.product__characteristics li {
  font-size: 11px;
  border-right: 1px solid #c3c3c3;
}

.product__characteristics li:last-child {
  border-right: none;
}

.product__price_credit {
  border-right: 1px solid #c3c3c3;
  font-size: 11px;
}

.product__price_credit span {
  font-size: 12px;
  font-weight: 600;
}

.product__price_credit i {
  font-size: 20px;
}

.product__price_current {
  font-size: 20px;
  font-weight: 600;
}

.product__price_old {
  color: #848484;
  font-size: 11px;
}

.product__price_old:before {
  background: #848484;
}

.product__price_discount {
  color: #ba9856;
  font-weight: 700;
  font-size: 10px;
}

.product-pagination .pagination-item {
  font-size: 18px;
  font-weight: 500;
  background: transparent;
  border: 2px solid #adadad;
  border-radius: 4px;
  color: #232323;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.product-pagination .pagination-item.prev, .product-pagination .pagination-item.next {
  border: none;
}

.product-pagination .pagination-item.prev:before, .product-pagination .pagination-item.prev:after, .product-pagination .pagination-item.next:before, .product-pagination .pagination-item.next:after {
  color: #232323;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.product-pagination .pagination-item.dots {
  border: none;
  pointer-events: none;
}

.product-pagination .pagination-item:hover, .product-pagination .pagination-item.current {
  color: #ba9856;
  border-color: #ba9856;
}

.product-pagination .pagination-item:hover:before, .product-pagination .pagination-item:hover:after, .product-pagination .pagination-item.current:before, .product-pagination .pagination-item.current:after {
  color: #ba9856;
}

.more-btn {
  color: #ba9856;
  cursor: pointer;
}

.more-btn:before, .more-btn:after {
  background: #ba9856;
  transition: all 0.3s ease-in-out;
}

.filter-checkbox {
  cursor: pointer;
}

.filter-checkbox input:checked + label:after {
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
}

.filter-checkbox input:checked + label:before {
  background: #ba9856;
  border-color: #ba9856;
}

.filter-checkbox label {
  cursor: pointer;
  color: #232323;
  font-size: 14px;
}

.filter-checkbox label span {
  color: #232323;
  font-size: 13px;
}

.filter-checkbox label:before {
  background-color: transparent;
  border: 1px solid #6f6f6f;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.filter-checkbox label:after {
  transition: all 0.3s ease-in-out;
}

.filter-radio input[type="radio"]:checked + label {
  background: #4b4b4b;
  color: #ffffff;
}

.filter-radio input[type="radio"]:focus + label {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
}

.filter-radio input[type="radio"][disabled="true"] + label {
  background: #f1f1f1;
  color: #999;
  border-color: rgba(145, 145, 145, 0.4);
}

.filter-radio label {
  border: 1px solid #676767;
  cursor: pointer;
}

.filter-result__item {
  font-size: 14px;
  border: 1px solid transparent;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.filter-result__item:hover {
  border-color: #676767;
  background: #f7f7f7;
}

.filter-result__item button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.filter-result__item button:before, .filter-result__item button:after {
  background: #232323;
}

.filter-item {
  border-bottom: 1px solid #676767;
}

.filter-title {
  font-size: 16px;
  font-weight: 600;
}

.filter-list.select-list label {
  background: #fff;
  border-radius: 100px;
  border: 1px solid rgba(145, 145, 145, 0.4);
  color: #1f1f1f;
}

.filter-list.select-list select {
  transition: all 0.3s ease-in-out;
  border-radius: 100px;
  border: 1px solid rgba(145, 145, 145, 0.4);
  color: #1f1f1f;
  font-family: inherit;
  outline: none;
  cursor: pointer;
}

.filter-list.select-list select option {
  color: #1f1f1f;
}

.additional-text {
  font-size: 14px;
}

.recommendations h2 {
  font-size: 26px;
  font-weight: 600;
}

.recommendations__link {
  color: #ba9856;
  font-size: 18px;
  text-decoration: none;
  font-weight: 300;
  transition: all 0.3s ease-in-out;
}

.recommendations__link:after {
  color: #ba9856;
  transition: all 0.3s ease-in-out;
}

.recommendations__link:hover {
  color: #e0b662;
}

.recommendations__link:hover:after {
  color: #e0b662;
  -webkit-transform: translate(10px, 0);
          transform: translate(10px, 0);
}

.advantages h2 {
  font-size: 26px;
  font-weight: 600;
}

.advantages__item {
  border: 1px solid #eaeaea;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}

.advantages__item:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12);
}

.advantages__icon i {
  font-size: 60px;
}

.advantages__title {
  font-size: 14px;
}

.advantages__text {
  transition: all 0.3s ease-in-out;
  background: #fff;
  font-size: 11px;
  line-height: 1.5;
}

.footer {
  background: #232323;
}

.footer .column {
  border-right: 1px solid rgba(145, 145, 145, 0.4);
}

.footer .column:last-child, .footer .column:nth-last-child(2) {
  border: none;
}

.footer__logo {
  text-decoration: none;
}

.footer__title {
  color: #ffffff;
  font-size: 14px;
}

.footer__link {
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
}

.footer__link:before {
  background: #ffffff;
  transition: all 0.3s ease-in-out;
}

.footer-rating .rating-number {
  font-size: 20px;
  font-weight: 500;
}

@media (max-width: 1200px) {
  main h1 {
    font-size: 80px;
  }
}

@media (max-width: 992px) {
  .mobile-menu {
    background: #ffff;
    transition: all 0.3s ease-in-out;
  }
  .mobile-menu-close {
    background: #232323;
  }
  .mobile-menu .menu-close {
    color: #ffffff;
    background: transparent;
    border: none;
    font-size: 11px;
    font-weight: 600;
    cursor: pointer;
  }
  .mobile-menu .menu-close i {
    color: #ffffff;
    font-size: 20px;
  }
  .mobile-menu__link {
    text-decoration: none;
    color: #232323;
    font-size: 14px;
    border-bottom: 1px solid rgba(145, 145, 145, 0.4);
  }
  .mobile-menu__link .icon-chevron-right {
    color: #6d6d6d;
  }
  main h1 {
    font-size: 60px;
  }
  .menu {
    background: #ffffff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  }
  .menu__link span {
    color: #232323;
    font-size: 8px;
  }
  .menu__link span.font-light, .menu__link span.font-semibold {
    font-weight: 400;
  }
  .menu__link i:before {
    font-size: 50px;
  }
  .menu__link_rdv i:before {
    font-size: 25px;
  }
  .menu__link_concession i:before {
    font-size: 20px;
  }
  .hamburger {
    cursor: pointer;
  }
  .hamburger i:before {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }
  .hamburger.open i:before,
  .hamburger.open p {
    color: #ba9856;
  }
  .hamburger p {
    font-size: 8px;
    transition: all 0.3s ease-in-out;
  }
  .product-sidebar {
    transition: all 0.3s ease-in-out;
    background: #ffffff;
  }
  .toggle-filters {
    cursor: pointer;
    border-radius: 100px;
    outline: 0;
    border: 1px solid #676767;
    text-transform: uppercase;
    background: transparent;
  }
  .toggle-filters-close {
    border: none;
    text-transform: uppercase;
    color: #ffffff;
    background: #ba9856;
    border-radius: 0;
    transition: all 0.3s ease-in-out;
    font-size: 14px;
    font-weight: 600;
  }
}

@media (max-width: 767px) {
  main h1 {
    font-size: 30px;
  }
  main .page-description {
    font-size: 12px;
    line-height: 1.4;
  }
  .page-description-additional {
    line-height: 1.4;
  }
  .show-more-text {
    background: none;
    border: none;
    color: #ba9856;
    outline: none;
    font-weight: 700;
    cursor: pointer;
  }
  .show-more-text:after {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .sort-by {
    font-size: 10px;
  }
  .product-search-result {
    font-size: 10px;
    line-height: 1;
  }
  .product-pagination .pagination-item {
    font-size: 15px;
  }
  .recommendations h2 {
    font-size: 22px;
  }
  .advantages h2 {
    font-size: 22px;
  }
}
/*# sourceMappingURL=main.css.map */