@font-face {
  font-family: "Mulish";
  font-display: swap;
  src: url("../fonts/Mulish-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Mulish";
  font-display: swap;
  src: url("../fonts/Mulish-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Mulish";
  font-display: swap;
  src: url("../fonts/Mulish-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Mulish";
  font-display: swap;
  src: url("../fonts/Mulish-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Mulish";
  font-display: swap;
  src: url("../fonts/Mulish-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@mixin defaultIcon($size) {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: $size;
}

$whiteColor: #ffffff;
$blackColor: #000000;
$defaultText:  #5B5151;
$orangeColor: #E37D38;
$redColor: #D55A5F;


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Mulish", sans-serif;
  color: $defaultText;
  font-weight: 400;
  vertical-align: baseline;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
body {
  background: $whiteColor;
  color: $defaultText;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
}
button {
  font-family: inherit;
}
.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 16px;
  padding-right: 16px;
}
.row {
  display: flex;
  // margin: 0 -15px;
}
.col-md-7 {
  flex: 0 0 56%;
  max-width: 56%;
  // padding: 0 15px;
}
.col-md-5 {
  flex: 0 0 42%;
  max-width: 42%;
  // padding: 0 15px;
}
.icon {
  background-repeat: no-repeat;
  background-size: contain;
  &-chevron {
    background-image: url('../img/icons/icon-chevron.svg');
    width: 10px;
    height: 6px;
    display: block;
  }
  &-globe {
    background-image: url('../img/icons/icon-globe.svg');
    width: 16px;
    height: 16px;;
    display: block;
  }
}
.heading-1 {
  font-weight: 800;
  font-size: 54px;
  line-height: 1.25;
  & span {
    color: $redColor;
    font-weight: 800;
  }
}
.heading-2 {
  font-weight: 800;
  font-size: 44px;
  line-height: 1.25;
  & span {
    color: $redColor;
    font-weight: 800;
  }
}
.heading-3 {
  font-size: 26px;
  line-height: 1.25;
}
.heading-4 {
  font-weight: 700;
  font-size: 20px;
}
.heading-5 {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.45;
  color: $defaultText;
  opacity: 0.7;
}
.btn {
  font-family: inherit;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  padding: 15px 33px;
  border: 1px solid transparent;
  letter-spacing: 0.08em;
  font-size: 12px;
  font-weight: 700;
  border-radius: 26px;
  text-decoration: none;
  cursor: pointer;
  line-height: 1.1;
  text-transform: uppercase;
  transition: all .3s ease-in-out;
  &-primary {
    background: $orangeColor;
    color: $whiteColor;
    border-color: $orangeColor;
    &:hover {
      background: transparent;
      color: $orangeColor;
    }
  } 
  &-outline {
    color: $defaultText;
    border-color: $defaultText;
    background: transparent;
    &:hover {
      background: $orangeColor;
      color: $whiteColor;
      border-color: $orangeColor;
    }
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 105px;
  z-index: 1002;
  & .container {
    display: flex;
    align-items: center;
    height: 100%;
  }
  &-login {
    margin-left: 40px;
  }
  &-contact {
    margin-left: 70px;
  }
}
.menu {
  margin-left: auto;
  display: flex;
  align-items: center;
  list-style: none;
  &-item {
    margin: 0 20px;
    &.menu-item-has-children {
      display: flex;
      align-items: center;
      position: relative;
      padding-right: 10px;
      & .icon-chevron {
        position: absolute;
        right: -5px;
        cursor: pointer;
      }
      &:focus-within, &:hover {
        & .sub-menu {
          opacity: 1;
          visibility: visible;
          transform: translate(0,0);
        }
      }
    }
  }
  &__link {
    display: block;
    font-weight: 700;
    letter-spacing: 0.08em;
    font-size: 12px;
    text-decoration: none;
    color: $defaultText;
    text-transform: uppercase;
    position: relative;
    &:before {
      content: '';
      background: currentColor;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      opacity: 0;
      height: 1px;
      transition: all .3s ease-in-out;
    }
    &:hover {
      &:before {
        opacity: 1;
        width: 100%;
      }
    }
  }
}
.sub-menu {
  position: absolute;
  list-style: none;
  background: #F4F4EA;
  border: 1px solid #5B5151;
  border-radius: 8px;
  padding: 13px;
  top: calc(100% + 10px);
  transform: translate(0, 10px);
  left: 0;
  transition: all .3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  & .menu-item {
    margin: 0 0 8px 0;
    &:last-child {
      margin-bottom: 0;
    }
  }
  & .menu__link {
    white-space: nowrap;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: initial;
    text-transform: unset;
    width: fit-content;
  }
}

.hero-screen {
  height: 95vh;
  position: relative;
  &-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  &-decor1, &-decor2 {
    position: absolute;
    top: 19%;
  }
  &-decor1 {
    left: 0;
  }
  &-decor2 {
    right: 0;
  }
  & .container, & .row {
    height: 100%;
  }
  & .row {
    align-items: center;
    justify-content: space-between;
  }
  &__text {
    & h1 {
      margin-bottom: 24px;
    }
    & p {
      margin-bottom: 40px;
      font-size: 18px;
      line-height: 1.45;
      color: #5B5151;
      opacity: 0.7;
    }
  }
  & .col-md-7 {
    position: relative;
    &:before {
      content: '';
      background: url('../img/slider-decor-element.svg');
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      width: 120px;
      height: 70px;
      left: -40px;
      bottom: -40px;
    }
    &:after {
      content: '';
      background: url('../img/hero-screen-decor3.svg');
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      left: -120px;
      width: 180px;
      height: 90px;
      top: 60%;
    }
  }
  &__slider {
    width:100%;
    position:relative;
    overflow:hidden;
    border: 4px solid $whiteColor;
    border-radius: 20px;
    height: 415px;
    & img {
      display: block;
      width: 100%;
      height: 100%;
    }
    &_before {
      position:absolute;
      height:100%;
      width:50%;
      top:0;
      left:0;
      overflow:hidden;
      z-index:2;
    }
    &_after {
      width: 100%;
      height: 100%;
    }
    &_resizer {
      position:absolute;
      display:flex;
      align-items:center;
      z-index:5;
      top:0;
      left:50%;
      height:100%;
      width:4px;
      background:white;
      -ms-touch-action: pan-y;
        touch-action: pan-y;
      &:after {
        content: '';
        width: 16px;
        height: 16px;
        border-radius: 100%;
        border: 12px solid $orangeColor;
        background: $whiteColor;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.clients {
  margin-bottom: 140px;
  &-heading {
    font-weight: 800;
    font-size: 14px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-bottom: 32px;
    text-align: center;
  }
  &-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    & img {
      height: 32px;
      object-fit: contain;
    }
  }
}