@mixin defaultIcon($size) {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: $size;
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?dk6usu");
  src: url("../fonts/icomoon.eot?dk6usu#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?dk6usu") format("truetype"),
    url("../fonts/icomoon.woff?dk6usu") format("woff"),
    url("../fonts/icomoon.svg?dk6usu#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

body {
  &.overflow {
    overflow: hidden;
  }
}

.icon-logo-bymycar:before {
  content: "\e933";
}
.icon-speed-limiter:before {
  content: "\e928";
}
.icon-chevron-right:before {
  content: "\e910";
}
.icon-map-marker-alt:before {
  content: "\e918";
}
.icon-user-alt:before {
  content: "\e919";
}
.icon-compare:before {
  content: "\e93e";
}
.icon-air-conditioned:before {
  content: "\e92d";
}
.icon-map-marker-alt2:before {
  content: "\e92c";
}
.icon-bluetooth:before {
  content: "\e929";
}
.icon-speed-limiter:before {
  content: "\e928";
}
.icon-rearview-radar:before {
  content: "\e927";
}
.icon-wheel:before {
  content: "\e925";
}
.icon-full-lights:before {
  content: "\e91c";
}
.icon-info:before {
  content: "\e931";
}
.icon-car-park-assistant:before {
  content: "\e92b";
}
.icon-rearview-camera:before {
  content: "\e926";
}
.icon-arrow-right:before {
  content: "\e907";
}
.icon-online-shop:before {
  content: "\e90f";
}
.icon-france:before {
  content: "\e932";
}
.icon-car-checkmark:before {
  content: "\e90e";
}
.icon-search:before {
  content: "\e936";
}
.icon-thumb-up:before {
  content: "\e92f";
}
.icon-sportive:before {
  content: "\e96f";
}
.icon-suv:before {
  content: "\e970";
}
.icon-revision:before {
  content: "\e960";
}
.icon-hamburger:before {
  content: "\e934";
}
.icon-close:before {
  content: "\e97e";
}
.icon-star,
.icon-star-empty {
  background-repeat: no-repeat;
  background-size: cover;
  width: 14px;
  height: 14px;
  display: block;
}
.icon-star {
  background-image: url("../img/icons/star.png");
}
.icon-star-empty {
  background-image: url("../img/icons/star-empty.png");
}
.container {
  max-width: 1410px;
  padding: 0 15px;
  margin: auto;
}
.mobile-menu {
  display: none;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
  height: 46px;
  z-index: 300;
  &-logo {
    display: flex;
    margin-right: 35px;
  }
  &-cta {
    display: flex;
    overflow: hidden;
    &-button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2px 6px;
      margin-right: 0px;
      & span {
        width: 14px;
        height: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 5px;
      }
      & p {
        margin: 0;
      }
    }
    &-number {
      padding: 2px 12px;
    }
  }
}
.menu {
  margin: 0 30px 0 auto;
  display: flex;
  align-items: center;
  height: 100%;
  &__link {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 30px;
    & i {
      display: none;
    }
    & span {
      font-size: 14px;
      display: block;
    }
    & .icon-map-marker-alt {
      margin-right: 8px;
    }
    &_user {
      span {
        margin-left: 8px;
      }
    }
  }
}

main {
  margin-top: 80px;
  & h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  & .page-description {
    margin: 0;
    &-additional {
      margin-top: 10px;
      display: none;
    }
  }
}
.show-more-text {
  display: none;
}
.toggle-filters {
  display: none;
}
.filter-more-content {
  display: none;
}
.filter-more-toggle {
  padding: 6px 20px;
  width: 80%;
  margin-left: 10%;
  padding: 10px 28px;
}
.sort-by {
  display: flex;
  align-items: center;
  & p {
    margin: 0 0 0 11px;
    margin-right: 10px;
  }
  & select {
    padding: 6px 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url("../img/icons/down-chevron.svg");
    background-repeat: no-repeat;
    background-position: 93%;
    background-size: 10px;
  }
}
.product {
  margin: 40px 0 100px 0;
  border-top: 1px solid #c5c5c5;
  background: #f7f7f7;
  &-content {
    padding: 0 0 90px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  &-search-result {
    margin: 0;
  }
  &-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
  &-sidebar {
    width: calc(23% - 10px);
    padding: 16px 20px;
  }
  &-list {
    width: calc(75% - 10px);
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }
  &-item {
    display: flex;
    flex-direction: column;
    flex: 0 0 33.333%;
    max-width: calc(33.333% - 20px);
    margin: 0 10px 20px 10px;
    overflow: hidden;
  }
  &__image {
    height: 226px;
    position: relative;
    & img {
      @include defaultIcon(cover);
    }
  }
  &__badge {
    position: absolute;
    top: 10px;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    &.two-badges {
      justify-content: space-between;
    }
    & .badge {
      padding: 3px 9px;
    }
  }
  &__title {
    padding: 16px 16px 2px 16px;
  }
  &__type {
    margin: 0;
    padding: 0 16px;
  }
  &__features {
    &_list {
      padding: 5px 30px 20px 20px;
      & li {
        display: flex;
        justify-content: space-between;
        position: relative;
        padding-left: 20px;
        & span {
          text-align: right;
        }
        &:before {
          content: "";
          width: 8px;
          height: 8px;
          position: absolute;
          left: 0;
          top: calc(50% - 4px);
        }
      }
    }
    &_icons {
      display: flex;
      justify-content: center;
      padding: 8px 14px;
      position: relative;
      & .tooltip {
        flex: 1;
        margin: 0 4px;
        display: flex;
        justify-content: center;
        &-text {
          position: absolute;
          width: fit-content;
          margin: 0 12px;
          left: 0;
          bottom: 100%;
          padding: 16px;
          opacity: 0;
          visibility: hidden;
          & h5 {
            margin-bottom: 5px;
          }
          & p {
            margin: 0;
          }
        }
        &:hover {
          & .tooltip-text {
            opacity: 1;
            visibility: visible;
          }
        }
        &:nth-child(9) {
          margin: 0;
          & i {
            display: none;
          }
          & .tooltip-text {
            display: none;
          }
          &:before {
            content: "...";
            display: block;
          }
        }
        &:nth-child(n + 10) {
          display: none;
        }
      }
    }
  }
  &__characteristics {
    display: flex;
    justify-content: space-between;
    list-style: none;
    & li {
      padding: 8px 14px;
      width: 100%;
      text-align: center;
      white-space: nowrap;
    }
  }
  &__price {
    display: flex;
    align-items: center;
    padding: 16px;
    height: 60px;
    &_credit {
      display: flex;
      align-items: center;
      height: 100%;
      width: 44%;
      & span {
        margin-left: 4px;
      }
      & i {
        margin-right: 8px;
      }
    }
    &_amount {
      width: 56%;
      text-align: right;
    }
    &_old {
      position: relative;
      width: fit-content;
      margin-left: auto;
      &:before {
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: 7px;
        transform: rotate(-20deg);
        left: 0%;
      }
    }
  }
  &-pagination {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    & .pagination-item {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 12px;
      &.disabled {
        display: none;
      }
      &.prev,
      &.next {
        width: auto;
        height: 40px;
        &:before,
        &:after {
          font-family: "icomoon";
          content: "\e910";
          display: block;
        }
      }
      &.prev {
        margin-right: 20px;
        &:before {
          margin-right: 10px;
          transform: rotate(180deg);
        }
        &:after {
          display: none;
        }
      }
      &.next {
        margin-left: 20px;
        &:before {
          display: none;
        }
        &:after {
          margin-left: 10px;
        }
      }
    }
  }
}

.more-content {
  display: none;
}
.more-btn {
  margin-top: 16px;
  padding-right: 20px;
  position: relative;
  &:before,
  &:after {
    content: "";
    width: 10px;
    height: 1px;
    position: absolute;
    right: 0;
    top: 50%;
  }
  &:after {
    transform: rotate(90deg);
  }
  &.active {
    &:after {
      opacity: 0;
    }
  }
}
.filter-checkbox {
  margin: 0 0 12px 0;
  &:last-child {
    margin: 0;
  }
  & input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    &:checked + label:after {
      content: "";
      display: block;
      position: absolute;
      top: 1px;
      left: 8px;
      width: 5px;
      height: 11px;
      transform: rotate(45deg);
    }
  }
  & label {
    position: relative;
    & span {
      display: inline-flex;
      align-items: center;
      margin-left: 4px;
      &:before {
        content: "(";
        display: block;
      }
      &:after {
        content: ")";
        display: block;
      }
    }
    &:before {
      content: "";
      -webkit-appearance: none;
      padding: 10px;
      display: inline-block;
      position: relative;
      vertical-align: middle;
      margin: 0px 14px 0 0;
    }
  }
}
.filter-radio {
  margin: 0 3px 3px 0;
  input[type="radio"] {
    display: none;
  }
  label {
    display: inline-block;
    padding: 15px;
    min-width: 15px;
    min-height: 15px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.filter {
  &-result {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    &__item {
      width: fit-content;
      margin: 0 10px 10px 0;
      display: flex;
      justify-content: center;
      padding: 5px 12px;
      align-items: center;
      & button {
        width: 20px;
        height: 20px;
        margin-left: 10px;
        padding: 0;
        position: relative;
        &:before,
        &:after {
          content: "";
          width: 10px;
          height: 1px;
          position: absolute;
          left: calc(50% - 5px);
        }
        &:before {
          transform: rotate(45deg);
        }
        &:after {
          transform: rotate(135deg);
        }
      }
    }
  }
  &-item {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  &-title {
    margin-bottom: 15px;
  }
  &-list {
    padding-left: 6px;
    display: flex;
    &.checkbox-list {
      flex-direction: column;
      align-items: flex-start;
    }
    &.radio-list {
      flex-wrap: wrap;
    }
    &.select-list {
      & .filter-select {
        flex: 1;
        position: relative;
        &.year-min {
          margin-right: 20px;
        }
      }
      & label {
        position: absolute;
        left: 19px;
        top: -10px;
        padding: 2px 7px;
      }
      & select {
        -webkit-appearance: none;
        -moz-appearance: none;
        background: url("../img/icons/down-chevron.svg");
        background-repeat: no-repeat;
        background-size: 10px;
        background-position: right 20px center;
        padding: 15px 40px 15px 20px;
        width: 100%;
      }
    }
  }
}
.additional {
  &-text {
    margin-bottom: 100px;
  }
}
.recommendations {
  margin-bottom: 100px;
  & h2 {
    text-align: center;
    margin-bottom: 50px;
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
  }
  &__link {
    display: flex;
    align-items: center;
    width: 20%;
    margin: 0 0 30px;
    position: relative;
    &:after {
      font-family: "icomoon";
      content: "\e907";
      display: block;
      margin-left: 10px;
    }
  }
}
.advantages {
  margin-bottom: 40px;
  & h2 {
    text-align: center;
    margin-bottom: 50px;
  }
  &-list {
    display: flex;
    margin: 0 -10px;
  }
  &__item {
    width: calc(16.6666% - 10px);
    margin: 0 10px;
    overflow: hidden;
    position: relative;
    padding: 48px 28px;
    text-align: center;
    &:hover {
      & .advantages__text {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &__icon {
    margin-bottom: 30px;
  }
  &__text {
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% - 20px);
    height: calc(100% - 40px);
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 20px 10px;
    opacity: 0;
    visibility: hidden;
  }
}
.footer {
  padding: 70px 0 120px 0;
  & .column {
    padding: 0 30px;
  }
  &__logo {
    display: block;
    width: fit-content;
    margin-bottom: 20px;
  }
  &__title {
    margin-bottom: 16px;
  }
  &__link {
    margin-bottom: 16px;
    display: block;
    width: fit-content;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -1px;
      width: 0;
      opacity: 0;
      height: 1px;
    }
    &:hover {
      &:before {
        width: 100%;
        opacity: 1;
      }
    }
  }
  &-row {
    display: flex;
    margin: 0 -30px;
  }
  &-rating {
    width: 200px;
    position: relative;
    height: fit-content;
    & .rating-stars {
      display: flex;
      & .half-star {
        position: relative;
        .icon-star {
          top: 0;
          left: 0;
          position: absolute;
          width: 9px;
        }
      }
    }
    & .rating-star {
      margin: 0 1px;
    }
    & .rating-number {
      margin-left: 8px;
    }
    &-image {
      width: 100%;
      & img {
        @include defaultIcon(contain);
      }
    }
    &-text {
      position: absolute;
      width: 96%;
      left: 0;
      bottom: 0;
      z-index: 2;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}

@media (max-width: 1400px) {
  .filter-more-toggle {
    width: 100%;
    padding: 10px 20px;
    margin: 0;
  }
  .product {
    &-item {
      flex: 0 0 50%;
      max-width: calc(50% - 20px);
    }
    &__image {
      height: 300px;
    }
  }
  .footer-rating {
    position: absolute;
    right: 30px;
    top: 30px;
  }
  .advantages__item {
    padding: 28px 20px;
  }
  .footer-row {
    margin: 0 -15px;
  }
  .footer__logo {
    margin: 0 15px;
  }
}
@media (max-width: 1200px) {
  .menu__link {
    padding: 0 11px;
  }
  .product-sidebar {
    width: calc(25% - 10px);
    padding: 16px 10px;
  }
  .filter-result__item {
    padding: 5px 8px;
    margin: 0 6px 6px 0;
  }
  .product__image {
    height: 220px;
  }
  .filter-radio label {
    padding: 13px;
    min-width: 15px;
    min-height: 15px;
  }
  .recommendations__link {
    width: 33%;
  }
  .advantages {
    &-list {
      overflow-x: auto;
    }
    &__item {
      padding: 48px 20px;
      min-width: 200px;
    }
  }
  .footer {
    & .column {
      width: 25%;
      margin-bottom: 20px;
    }
    &-row {
      flex-wrap: wrap;
    }
    &-rating {
      position: relative;
      margin-left: 60px;
    }
    &__logo {
      margin: 0 15px;
    }
  }
}
@media (max-width: 992px) {
  .filter-more-toggle {
    display: none;
  }
  .filter-more-content {
    display: block;
  }
  .mobile-menu {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: calc(100% - 48px);
    z-index: 199;
    &.active {
      opacity: 1;
      visibility: visible;
    }
    &-close {
      height: 40px;
      display: flex;
      align-items: center;
      padding: 0 10px;
    }
    & .menu-close {
      display: flex;
      align-items: center;
      padding: 0;
      & i {
        margin-right: 5px;
      }
    }
    &-links {
      padding: 0 16px;
      display: flex;
      flex-direction: column;
    }
    &__link {
      display: flex;
      justify-content: space-between;
      padding: 14px 0;
    }
  }
  .menu {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 48px;
    display: flex;
    justify-content: space-around;
    z-index: 200;
    &__link {
      height: auto;
      position: relative;
      & span {
        margin-top: 26px;
        display: inline-block;
      }
      & i {
        display: block;
        position: absolute;
        left: 50%;
        top: 30%;
        transform: translate(-50%, -50%);
        &:before {
          display: block;
          width: fit-content;
        }
      }
      &_concession {
        span.icon-map-marker-alt {
          display: none;
        }
      }
      &_user {
        display: none;
      }
    }
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
      margin: 4px 0 0 0;
    }
  }
  .product {
    margin-bottom: 40px;
    &-sidebar {
      position: fixed;
      left: -150vw;
      top: 46px;
      width: 100%;
      height: calc(100% - 140px);
      z-index: 202;
      padding: 30px 20px 70px 20px;
      width: calc(100% - 40px);
      overflow-y: auto;
      &.active {
        left: 0;
        & .toggle-filters-close {
          left: 0;
        }
      }
    }
    &-list {
      width: calc(100% + 20px);
    }
    &-content {
      padding: 0 0 40px 0;
    }
  }
  .additional-text,
  .recommendations {
    margin-bottom: 40px;
  }
  .toggle-filters {
    display: block;
    padding: 6px 15px;
    &-close {
      position: fixed;
      bottom: 48px;
      height: 46px;
      width: 100%;
      left: -150vw;
    }
  }
}

@media (max-width: 767px) {
  .page-description-additional {
    display: none;
  }
  .show-more-text {
    display: flex;
    align-items: center;
    margin: 15px 0 0 auto;
    &:after {
      font-family: "icomoon";
      content: "\e910";
      display: block;
      transform: rotate(90deg);
      margin-left: 10px;
    }
    &.active {
      &:after {
        transform: rotate(-90deg);
      }
    }
  }
  .footer {
    padding-bottom: 200px;
    &-row {
      flex-direction: column;
    }
    & .column {
      width: fit-content;
    }
  }
  .recommendations__link {
    width: 47%;
  }
  .recommendations h2 {
    margin-bottom: 30px;
  }
  .advantages h2 {
    margin-bottom: 30px;
  }
  .toggle-filters {
    width: 100%;
    order: 3;
    margin: 15px 0 0 0;
    padding: 12px 15px;
  }
  .product {
    margin-top: 20px;
    &-filter {
      flex-wrap: wrap;
    }
    &-item {
      flex: 0 0 100%;
      max-width: 100%;
      margin: 0 0 20px 0;
    }
    &__image {
      height: auto;
    }
  }
}

@media (max-width: 576px) {
  .header {
    padding: 0 20px;
    &-cta {
      &-button {
        & p {
          display: none;
        }
        & span {
          margin-right: 0;
        }
      }
    }
    &-logo {
      margin-right: 20px;
    }
  }
  .recommendations__link {
    width: 100%;
    margin: 0 0 40px 0;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .sort-by {
    & p {
      margin: 0 4px;
    }
  }
  .product-pagination .pagination-item {
    width: 30px;
    height: 30px;
    margin: 0 5px;
  }
  .menu__link {
    padding: 0 2px;
  }
  .menu {
    padding: 0 15px;
    width: calc(100% - 30px);
    justify-content: space-between;
  }
}
