@mixin defaultIcon($size) {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: $size;
}
// @font-face {
//   font-family: "icomoon";
//   src: url("../fonts/icomoon.eot?dk6usu");
//   src: url("../fonts/icomoon.eot?dk6usu#iefix") format("embedded-opentype"),
//     url("../fonts/icomoon.ttf?dk6usu") format("truetype"),
//     url("../fonts/icomoon.woff?dk6usu") format("woff"),
//     url("../fonts/icomoon.svg?dk6usu#icomoon") format("svg");
//   font-weight: normal;
//   font-style: normal;
//   font-display: block;
// }

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

body {
  &.overflow {
    overflow: hidden;
  }
}

